{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form id="searchForm" action="/api/v1/routes/" method="get" class="mb-4">
    <div class="row">
        <div class="col-md-4">
            <label for="client_id">ID клиента:</label>
            <input type="text" class="form-control" id="client_id" name="client_id"/>
        </div>
        <div class="col-md-4 align-self-end">
            <button type="submit" class="btn btn-primary mt-4">Искать по ID клиента</button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <label for="product_code">Трек код товара:</label>
            <input type="text" class="form-control" id="product_code" name="product_code"/>
        </div>
        <div class="col-md-4 align-self-end">
            <button type="submit" class="btn btn-primary mt-4">Искать по трек коду</button>
        </div>
    </div>
</form>

<div id="results">
    <!-- Данные будут динамически добавляться сюда через JavaScript -->
</div>

<script>
document.getElementById('searchForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    const clientId = document.getElementById('client_id').value;
    const productCode = document.getElementById('product_code').value;
    let response, data;

    if (clientId) {
        response = await fetch(`/api/v1/routes/${clientId}`);
    } else if (productCode) {
        response = await fetch(`/api/v1/routes/get/product?code=${productCode}`);
    } else {
        alert('Введите ID клиента или трек код товара');
        return;
    }

    data = await response.json();
    const resultsDiv = document.getElementById('results');

    if (response.ok) {
        if (clientId) {
            resultsDiv.innerHTML = `
                <h2>Клиент: ${data.name}</h2>
                <p>ID: ${data.id}</p>
                <p>Номер: ${data.number}</p>
                <p>Город: ${data.city}</p>
                <p>Общая сумма: ${data.total_amount}</p>
                <p>Общий вес: ${data.total_weight} кг</p>
                <form id="productsForm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Выбрать</th>
                                <th>ID</th>
                                <th>Код продукта</th>
                                <th>Вес (кг)</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${data.products && data.products.length > 0 ? data.products.map(product => `
                                <tr>
                                    <td><input type="checkbox" name="product_id" value="${product.id}"></td>
                                    <td>${product.id}</td>
                                    <td>${product.product_code}</td>
                                    <td>${product.weight}</td>
                                    <td>${product.amount}</td>
                                    <td>${product.date}</td>
                                    <td>${product.status}</td>
                                </tr>
                            `).join('') : ''}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="updateProductStatus()">Изменить статус выбранных товаров</button>
                </form>
            `;
        } else if (productCode) {
            resultsDiv.innerHTML = `
                <h2>Результаты поиска по трек коду</h2>
                <form id="productsForm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Выбрать</th>
                                <th>Код клиента</th>
                                <th>Код продукта</th>
                                <th>Вес (кг)</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${data.length > 0 ? data.map(product => `
                                <tr>
                                    <td><input type="checkbox" name="product_id" value="${product.id}"></td>
                                    <td>${product.client_id}</td>
                                    <td>${product.product_code}</td>
                                    <td>${product.weight}</td>
                                    <td>${product.amount}</td>
                                    <td>${product.date}</td>
                                    <td>${product.status}</td>
                                </tr>
                            `).join('') : '<tr><td colspan="7">Товар не найден</td></tr>'}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="updateProductStatus()">Изменить статус выбранных товаров</button>
                </form>
            `;
        }
    } else {
        resultsDiv.innerHTML = `<p>${data.detail}</p>`;
    }
});

async function updateProductStatus() {
    const formData = new FormData(document.getElementById('productsForm'));
    const productIds = Array.from(formData.getAll('product_id'));

    await fetch('/api/v1/routes/update-status', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ product_ids: productIds })
    });

    // После обновления статусов сделаем повторный запрос на обновленные данные клиента
    const clientId = document.getElementById('client_id').value;
    const productCode = document.getElementById('product_code').value;
    let response;

    if (clientId) {
        response = await fetch(`/api/v1/routes/${clientId}`);
    } else if (productCode) {
        response = await fetch(`/api/v1/routes/get/product?code=${productCode}`);
    }

    const data = await response.json();
    const resultsDiv = document.getElementById('results');

    if (response.ok) {
        if (clientId) {
            resultsDiv.innerHTML = `
                <h2>Клиент: ${data.name}</h2>
                <p>ID: ${data.id}</p>
                <p>Номер: ${data.number}</p>
                <p>Город: ${data.city}</p>
                <p>Общая сумма: ${data.total_amount}</p>
                <p>Общий вес: ${data.total_weight} кг</p>
                <form id="productsForm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Выбрать</th>
                                <th>ID</th>
                                <th>Код продукта</th>
                                <th>Вес (кг)</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${data.products && data.products.length > 0 ? data.products.map(product => `
                                <tr>
                                    <td><input type="checkbox" name="product_id" value="${product.id}" ${productIds.includes(product.id.toString()) ? 'checked' : ''}></td>
                                    <td>${product.id}</td>
                                    <td>${product.product_code}</td>
                                    <td>${product.weight}</td>
                                    <td>${product.amount}</td>
                                    <td>${product.date}</td>
                                    <td>${product.status}</td>
                                </tr>
                            `).join('') : ''}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="updateProductStatus()">Изменить статус выбранных товаров</button>
                </form>
            `;
        } else if (productCode) {
            resultsDiv.innerHTML = `
                <h2>Результаты поиска по трек коду</h2>
                <form id="productsForm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Выбрать</th>
                                <th>ID</th>
                                <th>Код продукта</th>
                                <th>Вес (кг)</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${data.length > 0 ? data.map(product => `
                                <tr>
                                    <td><input type="checkbox" name="product_id" value="${product.id}" ${productIds.includes(product.id.toString()) ? 'checked' : ''}></td>
                                    <td>${product.id}</td>
                                    <td>${product.product_code}</td>
                                    <td>${product.weight}</td>
                                    <td>${product.amount}</td>
                                    <td>${product.date}</td>
                                    <td>${product.status}</td>
                                </tr>
                            `).join('') : '<tr><td colspan="7">Товар не найден</td></tr>'}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" onclick="updateProductStatus()">Изменить статус выбранных товаров</button>
                </form>
            `;
        }
    } else {
        resultsDiv.innerHTML = `<p>${data.detail}</p>`;
    }
}
</script>

{% endblock %}
